# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler / Ruby
Gemfile.lock
.bundle/
vendor/bundle/

# macOS
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace
/lectures
